In [1]:
#THIS CODE ONLY DO THE WHOLE DATA TRAINING, NO CROSS_VALIDATION AND FEATURE SELECTION

import pandas as pd
import numpy as np
import newSom 
import experiment
import dataset_read
import researchpy as rp
import scipy.stats as stats
import matplotlib.pyplot as plt
import collections
import warnings
warnings.filterwarnings("ignore", category=np.VisibleDeprecationWarning)

In [2]:
dataread = dataset_read.DATAREAD()

In [3]:
csv = pd.read_csv("CarPrice_Assignment.csv",encoding='latin-1')
csv = csv.drop(columns=['car_ID'])

csv_original_encode = csv


# class label do not need to onehot encoding, label ercoding will be OK
dataread.label_encoding(csv_original_encode,"symboling")

dataread.binary_encoding(csv_original_encode,["CarName","carbody","drivewheel","fueltype","aspiration","doornumber","cylindernumber","enginelocation","enginetype","fuelsystem"])
       
dataread.label_encoding(csv,"CarName")
dataread.label_encoding(csv,"carbody")
dataread.label_encoding(csv,"drivewheel")
dataread.label_encoding(csv,"fueltype")
dataread.label_encoding(csv,"aspiration")
dataread.label_encoding(csv,"doornumber")
dataread.label_encoding(csv,"cylindernumber")
dataread.label_encoding(csv,"enginelocation")
dataread.label_encoding(csv,"enginetype")
dataread.label_encoding(csv,"fuelsystem")    
    
    
csv_test = csv.sample(int(csv.shape[0]*0.3))
csv_training = csv.drop(csv_test.index,axis = 0)

csv_test_original_encoded = dataread.original_encoding_data.sample(int(dataread.original_encoding_data.shape[0]*0.3))
csv_training_original_encoded = dataread.original_encoding_data.drop(csv_test_original_encoded.index,axis = 0)

dataread.initializedataset(csv,csv_training,csv_test,csv_training_original_encoded,csv_test_original_encoded,"symboling")

self.data_continuous_indexes ['CarName', 'wheelbase', 'carlength', 'carwidth', 'carheight', 'curbweight', 'enginesize', 'boreratio', 'stroke', 'compressionratio', 'horsepower', 'peakrpm', 'citympg', 'highwaympg', 'price']
data_train                       CarName fueltype aspiration doornumber      carbody  \
104              nissan teana      gas        std        two    hatchback
150     toyota corona mark ii      gas        std        two    hatchback
83              mitsubishi g4      gas      turbo        two    hatchback
172           toyota cressida      gas        std        two  convertible
52            mazda rx2 coupe      gas        std        two    hatchback
..                        ...      ...        ...        ...          ...
2    alfa-romero Quadrifoglio      gas        std        two    hatchback
76          mitsubishi mirage      gas        std        two    hatchback
162            toyota mark ii      gas        std       four        sedan
56                  mazda glc      gas        std        two    hatchback
194           volvo 145e (sw)      gas        std       four        sedan

    drivewheel enginelocation  wheelbase  carlength  carwidth  ...  \
104        rwd          front       91.3      170.7      67.9  ...
150        fwd          front       95.7      158.7      63.6  ...
83         fwd          front       95.9      173.2      66.3  ...
172        rwd          front       98.4      176.2      65.6  ...
52         fwd          front       93.1      159.1      64.2  ...
..         ...            ...        ...        ...       ...  ...
2          rwd          front       94.5      171.2      65.5  ...
76         fwd          front       93.7      157.3      64.4  ...
162        fwd          front       95.7      166.3      64.4  ...
56         rwd          front       95.3      169.0      65.7  ...
194        rwd          front      104.3      188.8      67.2  ...

     enginesize  fuelsystem boreratio stroke  compressionratio horsepower  \
104         181        mpfi      3.43  3.270               9.0        160
150          92        2bbl      3.05  3.030               9.0         62
83          156        spdi      3.59  3.860               7.0        145
172         146        mpfi      3.62  3.500               9.3        116
52           91        2bbl      3.03  3.150               9.0         68
..          ...         ...       ...    ...               ...        ...
2           152        mpfi      2.68  3.470               9.0        154
76           92        2bbl      2.97  3.230               9.4         68
162          98        2bbl      3.19  3.030               9.0         70
56           70        4bbl      3.33  3.255               9.4        101
194         141        mpfi      3.78  3.150               9.5        114

     peakrpm  citympg  highwaympg    price
104     5200       19          25  17199.0
150     4800       35          39   5348.0
83      5000       19          24  14869.0
172     4800       24          30  17669.0
52      5000       31          38   6795.0
..       ...      ...         ...      ...
2       5000       19          26  16500.0
76      5500       37          41   5389.0
162     4800       28          34   9258.0
56      6000       17          23  11845.0
194     5400       23          28  12940.0

[144 rows x 24 columns]

ValueError: could not convert string to float: 'nissan teana'